extends /layout

block head
    - page.title = 'Register Warranty'

block content
    main.main
        .container
            .wrap-in
                .page-grid
                    section.page-grid__main
                        .content
                            h1 Register Your Warranty Here
                            p Congratulations on the purchase of your new bed.
                            p Please take a few minutes now to register your purchase and ensure we have your purchase details in the unlikely event of a manufacturing fault.
                            p This will ensure we have your details should they be needed in the future, and assists us in making the right decisions towards designing quality products. We appreciate you providing us with as much information as you can but will understand if you prefer not to answer all of the questions.
                        form.form-page(action="/")
                            .input-row
                                .input-item.w50
                                    input(type="text", name="", placeholder="Full Name")
                                .input-item.w50
                                    input(type="tel", name="", placeholder="Contact Number")
                                .input-item.w100
                                    input(type="email", name="", placeholder="Email Address", required)
                            .input-row
                                .input-row__label
                                    p Region/Retailer/store/Range
                                .input-item.w50.input-item--select
                                    select(name="" )
                                        option(value="" selected style="display: none") Region
                                        option(value="Region 1") Region 1
                                        option(value="Region 2") Region 2
                                        option(value="Region 3") Region 3
                                        option(value="Region 4") Region 4
                                .input-item.w50.input-item--select
                                    select(name="" )
                                        option(value="" selected style="display: none") Retailer
                                        option(value="Retailer 1") Retailer 1
                                        option(value="Retailer 2") Retailer 2
                                        option(value="Retailer 3") Retailer 3
                                        option(value="Retailer 4") Retailer 4
                                .input-item.w50.input-item--select
                                    select(name="" )
                                        option(value="" selected style="display: none") Store
                                        option(value="Store 1") Store 1
                                        option(value="Store 2") Store 2
                                        option(value="Store 3") Store 3
                                        option(value="Store 4") Store 4
                                .input-item.w50.input-item--select
                                    select(name="" )
                                        option(value="" selected style="display: none") Range
                                        option(value="Range 1") Range 1
                                        option(value="Range 2") Range 2
                                        option(value="Range 3") Range 3
                                        option(value="Range 4") Range 4
                                .input-row__link
                                    a(href="#") I cant find the right product information
                            .input-row
                                .input-row__label
                                    p Region/Retailer/store/Range
                                .input-file
                                    input(type="file", name="", accept=".png, .jpg, .jpeg, .pdf, .gif")
                                .input-item.w100
                                    input(type="text", name="", placeholder="Reciept Number*", required)

                            .input-row
                                .input-row__label 
                                    p Communication Preferences
                                .input-check.w100
                                    input#RegistrationProduct(type="checkbox", name="", checked)
                                    label(for="RegistrationProduct") 
                                        | Yes, I’m happy to receive any upcoming Sleepyhead promotions, special offers, competitions or handy tips on all things sleep. View our Privacy Policy.
                            .input-row
                                .input-submit
                                    button.bttn(type="submit") Submit
                    aside.page-grid__sidebar
                        +contacts-sidebar
            .wrap-in
                .page-grid
                    section.page-grid__main
                        .content
                            h1 Success, Your Registration Has Been Submitted
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate vel ex id ultricies. Nam gravida risus non erat feugiat dapibus. Nunc rhoncus ut enim sit amet tempus. In lobortis justo tempus consequat mollis. Praesent rhoncus dapibus sagittis. Vestibulum sed fermentum nisl, at venenatis lacus. Vivamus quis leo at nisl commodo gravida. Integer et arcu leo. Integer est leo, ullamcorper id tristique vel, dignissim et velit. Aliquam felis nisl, blandit non lectus eu, luctus. 
                            p Commodo orci. Nam ipsum ex, dignissim nec ipsum quis, finibus malesuada tortor. Aliquam erat volutpat. Fusce sodales nunc id sem dictum, nec semper justo dapibus.
                        a.link-top(href="#") Back to product page
                    aside.page-grid__sidebar
                        +contacts-sidebar
        +wide-decor({bg:'footer',bttns:['Find a store near you','View latest deals']})
            img.wide-decor__logo(src="/img/wide-logo.png", alt="logo")
            h2.wide-decor__title-bottom Make your own dream world.