.header-support
    margin-right: 38px
    +r(1024)
        display: none
    &__link
        font-weight: 400
        font-size: 16px
        letter-spacing: 0.3px
        line-height: calc(30/19)
        text-decoration: none
        padding: 3px
        color: $main
        +rm(1800)
            letter-spacing: 1.19px
            font-size: 19px