extends /layout

block head
    - page.title = 'Contact'

block content
    main.main
        .container
            .wrap-in
                .page-grid
                    section.page-grid__main
                    aside.page-grid__sidebar