.modal.is-hidden(id="modal-success" style="max-width:640px")
	.modal__header
		h4.modal__title
			span.text Success

	.modal__body
		.content-text
			.content-text__item
				span.text Lorem, ipsum dolor sit amet consectetur adipisicing elit.

	.modal__footer
		button.button.button--accent.button--right.js-modal-close
			span.text Закрыть

	button.modal-close-btn.js-modal-close ✕