include /data
include /helpers/mixins
include /blocks/mixins
include /meta/mixins

doctype html

html
	head
		-
			const page = {
				title: 'Title',
				//- url: String,
				ogType: 'website',
				ogImage: '/img/social.jpg',
				ogImageWidth: 1200,
				ogImageHeight: 630,
				//- description: '',
				//- site_name: '',
				//- admins: ''
				themeColor: '#ffffff',
				class: [],
				hasVueTemplates: false
			};

		block head

		+head(page)

	body.body(class= page.class)
		// SVG Sprite
		//- +svg-icon()
		.svg-icon(style="display: none;")
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<symbol id="menu-arrow" width="8" height="12" viewBox="0 0 8 12">
					<path fill="none" stroke="currentColor" stroke-miterlimit="20" stroke-width="1" d="M6.488 11.333v0L1.333 5.998v0L6.488.667v0" />
				</symbol>
				<symbol width="8" height="12" viewBox="0 0 8 12" id="left-arrow">
					<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="1.5" d="M6.485.67v0L1.33 6.006v0l5.155 5.33v0"></path>
				</symbol>
			</svg>

		block header
			// Header
			+header

		block content
			// Content

		block footer
			// Footer
			+footer

		block menu-mobile
			// Menu mobile
			+menu-mob

		block modal
			// Modals
