mixin footer
    footer.footer
        //- .footer-inner
        .footer__current
            +footer-current
        .footer-row
            .footer__nav
                +footer-nav
            .footer__rights
                +footer-logo
                +footer-rights