extends /layout

block head
	- page.title = '404'

block content
	main.main.home
		section.content.content-section
			.content__row-box
				.content__col
					h1.content-section-title.content-section-title--h1
						span.text 404