mixin header-logo
    .header__logo
        .header-logo(style="background-image:url(/img/oval.svg)")
            a.header-logo__link(href="#")
                img.header-logo__img(src="/img/logo-header.png", alt="logo")