mixin header-find
    .header__find
        .header-support
            a.header-support__link(href="#") Support
        .header-find
            a(href="#").bttn.header-find__button Find a Retailer
            a(href="#").header-find__pin
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">

                    <path fill="none" stroke="currentColor" stroke-miterlimit="20" d="M1 15C1 7.268 7.268 1 15 1h0c7.732 0 14 6.268 14 14v0c0 7.732-6.268 14-14 14h0C7.268 29 1 22.732 1 15z"/>

                    <path fill="currentColor" d="M18.439 12.17c0-1.591-1.34-2.868-2.977-2.868-1.637 0-2.976 1.277-2.976 2.868s1.34 2.868 2.976 2.868c1.637 0 2.977-1.277 2.977-2.868zm-4.629 0c0-.845.733-1.544 1.652-1.544.92 0 1.652.699 1.652 1.544 0 .845-.732 1.544-1.652 1.544-.92 0-1.652-.699-1.652-1.544zm7.46.471a5.345 5.345 0 0 1-.827 2.84l-4.432 6.588a.662.662 0 0 1-1.098 0l-4.442-6.604a5.332 5.332 0 0 1-.817-2.831c.066-3.121 2.66-5.611 5.795-5.55 3.16-.061 5.75 2.425 5.821 5.557zm-5.82-6.88c-3.84-.076-7.038 2.994-7.12 6.86a6.679 6.679 0 0 0 1.032 3.567l4.453 6.62a1.985 1.985 0 0 0 3.294 0l4.443-6.604a6.681 6.681 0 0 0 1.043-3.568v-.015a7.009 7.009 0 0 0-7.146-6.86z"/>

                    <path fill="none" stroke="currentColor" stroke-miterlimit="20" d="M1 15C1 7.268 7.268 1 15 1h0c7.732 0 14 6.268 14 14v0c0 7.732-6.268 14-14 14h0C7.268 29 1 22.732 1 15z"/>

                </svg>