mixin header-burger
    .header__burger
        .header-burger
            .header-burger__item
            .header-burger__item
            .header-burger__item
            button(aria-label="menu close").header-burger__button.header-burger__button--close.js-menu-mob-close
            button(aria-label="menu open").header-burger__button.header-burger__button--open.js-menu-mob-open