mixin stuff-banner
    .stuff-banner(style="background-image:url(/img/stuff/stuff-banner-1.png)")
        h2.stuff-banner__title Bonus luxury silk
        p.stuff-banner__text With seleted beautyrest range for a limited time*
        .stuff-banner__bttn
            .bttn.bttn--reverse Find out more